
VampireDash/Intermediate/CachedAssetRegistry_0.bin

VampireDash/Saved/AutoScreenshot.png

VampireDash/Saved/Config/CrashReportClient/UECC-Windows-1191099B42842C68683CF1B51FDFB120/CrashReportClient.ini

VampireDash/Saved/Telemetry/Telemetry.json

VampireDash/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini

*.log

VampireDash/Saved/Autosaves/PackageRestoreData.json

VampireDash/Saved/Config/CrashReportClient/

VampireDash/Saved/Crashes/


VampireDash/Saved/webcache_4430/

VampireDash/Intermediate/

VampireDash/Saved/
