
VampireDash/Intermediate/CachedAssetRegistry_0.bin

VampireDash/Saved/AutoScreenshot.png

VampireDash/Saved/Config/CrashReportClient/UECC-Windows-1191099B42842C68683CF1B51FDFB120/CrashReportClient.ini

VampireDash/Saved/Telemetry/Telemetry.json

VampireDash/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini

VampireDash/Saved/Logs/VampireDash-backup-2024.08.14-00.24.16.log

VampireDash/Saved/Logs/VampireDash.log

*.log
